<div class="container">
    <h1>Ocorrências</h1>
    <hr>
    

    <table class="table table-hover table-bordered">
        <thead class="thead-light">
        <tr>
            <th>Matrícula</th>
            <th>Nome do Aluno</th>
            <th>Tipo de Ocorrência</th>
            <th>Data</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ocorrencia of ocorrencias"
            [class.table-active]="editando == ocorrencia">
            
            <td>
                <i *ngIf="editando == ocorrencia"
                   class="fa fa-pencil-square"></i>
                {{ocorrencia.matricula}}
            </td>
            <td>
                <i *ngIf="editando == ocorrencia"
                   class="fa fa-pencil-square"></i>
                {{ocorrencia.nome}}
            </td>
            <td>
                <i *ngIf="editando == ocorrencia"
                   class="fa fa-pencil-square"></i>
                {{ocorrencia.tipo}}
            </td>
            <td>
                <i *ngIf="editando == ocorrencia"
                   class="fa fa-pencil-square"></i>
                {{ocorrencia.data}}
            </td>

        </tbody>
    </table>

    <h2>Cadastrar</h2>
    <p>Use este formulário para cadastrar ou editar uma ocorrência.</p>
    <div *ngIf="salvar_ok || editar_ok" class="alert alert-success">
        <strong>Sucesso!</strong> A ocorrência foi cadastrada ou atualizada
        com sucesso.
    </div>
    <form #cadastro="ngForm" (submit)="salvar()">
        <div class="form-group">
            <label for="matricula">Matrícula</label><br>
            <input type="text" id="matricula" name="matricula" class="form-control"
                   [(ngModel)]="matricula"
                   required>
        </div>
        <div class="form-group">
            <label for="nome">Nome</label><br>
            <input type="text" id="nome" name="nome" class="form-control"
                   [(ngModel)]="nome"
                   required>
        </div>
        <div class="form-group">
            <label for="data">Data</label>
            <input type="date" name="data" class="form-control" id="data" name="data" [(ngModel)]="data">
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6"> Os pais ou responsável comparecerão a reunião</div>   
                <div class="col-md-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ativo" name="ativo" [(ngModel)]="ativo" (click)="formulario=0">
    
                        <label  class="form-check-label" for="ativo" > Sim </label>

                        <div *ngIf= "formulario!=null">
                            <div class="form-group">
                                <label for="responsavel">Nome do Responsável</label><br>
                                <input type="text" id="responsavel" name="responsavel" class="form-control"
                                       [(ngModel)]="responsavel"
                                       required>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div> 


        <div class="form-group">
            <label for="observacao">Observação</label><br>
            <textarea id="observacao" name="observacao" class="form-control"
                      [(ngModel)]="observacao"
                      cols="70" rows="5"></textarea>
        </div>
        <div class="form-group">
                <label for="tipo">Tipo de Ocorrência</label>
                <select class="form-control" id="tipo" name="tipo" [(ngModel)]="tipo">
                    <option>Indisciplina em sala de aula</option>
                    <option>Comportamento inadequado com colegas</option>
                    <option>Baixo índice de rendimento</option>
                    <option>Indicação de atenção por assunto familiar, psicólogico ou social</option>
                </select>
        </div>
        
        <div class="text-right">
            <button type="submit" class="btn btn-primary"
                    [disabled]="!cadastro.valid">
                <i class="fa fa-save"></i> Salvar
            </button>
            <button type="reset" class="btn btn-secondary">
                Cancelar
            </button>
        </div>
    </form>
</div>
